/* Estilos gerais */
body {
    background-image: linear-gradient(rgb(59, 88, 93), rgb(59, 88, 93));
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar rolagem horizontal */
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    #abaixo-da-capa {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%; /* Garantir que os elementos ocupem a largura total da tela */
    }

    .button {
        font-size: 0.8em; /* Reduzir o tamanho dos botões */
    }

    .button-navigate {
        font-size: 1.2em; /* Reduzir o tamanho dos botões de navegação */
    }

    .button-biggest {
        font-size: 1.5em; /* Reduzir o tamanho dos maiores botões */
    }

    #cover {
        width: 80%;
        height: auto;
    }

    #playlist-title {
        flex-direction: column;
        margin: 1em 0;
        text-align: center;
        width: 100%; /* Garantir que o título ocupe a largura total */
    }

    #song-Name {
       font-size: 2em;
    font-weight: bolder;
    margin-left: 3em;
    }

    #progress-bar {
        height: 2px;
    }

    button {
        font-size: 0.9em;
    }

    #botoes {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Garantir que os botões ocupem a largura total */
    }

    #progress-Container {
        width: 90%; /* Ajustar a largura da barra de progresso */
    }
}

/* Estilos para dispositivos médios */
@media only screen and (min-width: 400px) and (max-width: 700px) {
    .button {
        font-size: 1.2em;
    }

    .button-navigate {
        font-size: 2em;
    }

    .button-biggest {
        font-size: 2.5em;
    }

    #cover {
        width: 75%;
        height: auto;
    }

    #playlist-title {
        flex-direction: row;
        margin: 1em 0 2em 0;
        text-align: center;
        width: 100%;
    }

    #song-Name {
        font-size: 1.5em;
    }

    #progress-bar {
        height: 2.5px;
    }

    button {
        font-size: 1.2em;
    }

    #botoes {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #progress-Container {
        width: 80%;
    }
}

/* Estilos para dispositivos grandes */
@media only screen and (min-width: 1025px) {
    .button {
        font-size: 1.5em;
    }

    .button-navigate {
        font-size: 2.5em;
    }

    .button-biggest {
        font-size: 3em;
    }

    #cover {
        width: 500px;
        height: 450px;
    }

    #playlist-title {
        flex-direction: row;
        margin: 1em 0 3em 0;
        text-align: center;
        width: 100%;
    }

    #song-Name {
        font-size: 2em;
    }

    #progress-bar {
        height: 3px;
    }

    button {
        font-size: 1.5em;
    }

    #botoes {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #progress-Container {
        width: 70%;
    }
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

#abaixo-da-capa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1em 0;
    padding: 10px;
    width: 100%;
}

#botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.button {
    cursor: pointer;
    font-size: inherit;
}

.button-navigate {
    font-size: inherit;
}

.button-biggest {
    font-size: inherit;
}

#cover {
    width: 500px;
    height: 450px;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 3em 0;
    text-align: center;
    width: 100%;
}

#song-Name {
    font-size: 2em;
    font-weight: bolder;
}

.light-color {
    color: rgb(139, 153, 156);
}

#progress-bar {
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
}

#current-progress {
    --progress: 0%;
    height: inherit;
    background-color: white;
    width: var(--progress);
    border-radius: inherit;
}

#progress-Container {
    padding-bottom: 1em;
    cursor: pointer;
    width: 100%;
}

.button-active {
    color: green;
}

/* Estilos para o botão de like */
.like-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Estilos para o ícone dentro do botão */
.like-button i {
    margin-right: 10px;
    font-size: 24px;
    color: white;
    transition: color 0.1s ease;
}

/* Estilos para quando o botão é clicado (ativo) */
.like-button.active i {
    color: #d32f2f;
}

/* Efeito de hover */
.like-button:hover i {
    color: white;
}
